 .dis-one{
     font-size:18px;
     color:red;
}
 .dis-two{
     font-size:22px;
     color:blue;
}
 .dis-three{
     font-size:26px;
     color:green;
}
 .dis-four{
     font-size:30px;
     color:yellow;
}
